@import "tailwindcss";

:root {
  --dark-background-1: #0F1115;
  --primary-text: #E6E8EC;
  --secondary-text: #A3A7AE;
  --success: #4CAF50;
  --error: #D32F2F;
  --bmw-light-blue: #009FDA;
}

@theme inline {
  --color-dark-background-1: var(--dark-background-1);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-bmw-light-blue: var(--bmw-light-blue);
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
